
.banner_wrap {
    width: 100%;
    
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .mascot {
        height: 200px;
        padding: 20px;
    }

    .title {
        font-size: 40px;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
