/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color:#f6d7be;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

.light{

  background-color:#F8EEE6;
  color:black;
}

.dark{
  background-color:#203B46;
  color:white;
}

.white{
  color: white;
}

/* @layer base{
  body{
    @apply .light; 
  } 
} */