
@import "./include-media.scss";

.home_wrap {
  width: 90vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @include media("<tablet") {
    flex-direction: column;
    margin-left: 0%;
  }

  .image_wrap {
    //padding-left: 3%;
    width: 45%;
    margin-bottom: 5vh;
    margin-left: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      width: 90%;
      margin-left: 0px;
    }
    @include media(">=lgphone", "<tablet") {
      width: 75%;
      margin-left: 0px;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
      margin-left: 0px;
    }

    .mascot {
      width: 94%;
      height: auto;
      max-width: 1000px;
      @include media(">lgdesktop") {
        margin-left: auto;
        width: 1000px;
        margin-right: 5%;
      }
    }
  }

  .club_name {
    width: 50%;
    line-height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow: hidden;

    @include media(">=phone", "<lgphone") {
      align-items: center;
      margin-top: 0;
      width: 80%;
      line-height: 2rem;
    }
    @include media(">=lgphone", "<tablet") {
      align-items: center;
      margin-top: 0;
      width: 90%;
      line-height: 2.8rem;
    }
    @include media(">=tablet", "<desktop") {
      padding-left: 1%;
      align-items: left;
      margin-top: -5vh;
      width: 95%;
      line-height: 2.5rem;
    }
    @include media(">=desktop") {
      margin-top: -10vh;
    }
    @include media(">lgdesktop") {
      line-height: 4rem;
    }
    
    .uni {
      color: #203B46;
      font-size: 38px;
      font-weight: 600;

      @include media(">=phone", "<lgphone") {
        font-size: 20px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 30px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 25px;
      }
      @include media(">=desktop", "<smdesktop") {
        font-size: 34px;
      }
      @include media(">lgdesktop") {
        font-size: 54px;
      }
    }

    .dsc {
      color: #203B46;
      font-size: 52px;
      font-weight: 600;
      @include media(">=phone", "<lgphone") {
        font-size: 24px;
      }
      @include media(">=lgphone", "<tablet") {
        font-size: 36px;
      }
      @include media(">=tablet", "<desktop") {
        font-size: 34px;
      }
      @include media(">=desktop", "<smdesktop") {
        font-size: 46px;
      }
      @include media(">lgdesktop") {
        font-size: 72px;
      }
    }
  }
}
